* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
body,html {
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    color: #000;
    font-family: 'Barlow Condensed', sans-serif;
}
p {
    line-height: 150%;
    color: #2D2C2D;
    font-weight: 400;
}
img {
    image-rendering: -webkit-optimize-contrast;
    vertical-align: middle;
}
.contain {
    width: 90%;
    margin-left: 5%;
}
.btn-prim {
    background: #3165CE;
    padding: 3% 7%;
    border: none;
    color: #fff;
    border-radius: 3px;
    letter-spacing: .5px;
    line-height: 150%;
    word-spacing: 5px;
}
/* header */
header {
    min-height: 100vh;
    background: #B4F3EC;
    position: relative;
}

header .header-text {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 30%;
}

header .header-text h1 {
    font-size: 300%;
    font-weight: 300;
}
header .header-text p {
    font-size: 115%;
}

.new-header h1 {
    font-size: 350%;
    font-weight: 500;
}
.new-header p {
    font-size: 125%;
    font-weight: 500;
    /* color: #161616; */
    line-height: 150%;
}

/* templates */

#templates .nav ul li:last-child a {
    background: #157EFC;
    color: #fff;
    padding: 10px 25px;
    font-size: 105%;
    font-weight: 700;
    border-radius: 4px;
}
#templates header {
    min-height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/temp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 1%;
}
#templates .templates img, #templates .btn-new img {
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow .2s;
}
#templates .templates img:hover {
    box-shadow: 15px 15px 20px rgba(68, 49, 49, 0.1);
}

#templates .templates button {
    border: none;
}
.modal-content .modal-body ul {
    margin: 0;
    padding: 0;
}
.modal-content .modal-body .tag, .contain .row ul li {
    list-style: none;
    cursor: pointer;
    font-size: 80%;
    padding: 8px;
    background: #EEEEEE;
    /* border: 1px solid #000; */
    /* min-width: 20%; */
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 7px;
}
.modal-content .modal-body .tag a {
    font-size: 100%;
    color: #212529;
}
.contain .row ul li {
    border-radius: 3px;
}
.contain .row ul li a {
    font-size: 100%;
}

.contain .row button {
    border: none;
}
.contain .row button img {
    border-radius: 5px;
}
.modal-content .modal-body .color-tag {
    border: 1px solid #eeeeee;
}
.modal-body img {
    width: 90%;
    margin: 0 auto;
    display: block;
    border-radius: 6px;
}


.desc {
    font-size: 90%;
    line-height: 150%;
}
.modal-content .modal-body .btn-prim {
    background: #2C5C88;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
}

.canvas-element {
    text-transform: uppercase;
    font-size: 80%;
}


/* showFont */

@media (max-width: 720px) {
    .col-lg-3.templates {
        margin-top: 5%;
    }
    .col-lg-3.templates ul {
        display: none;
    }
    .nav h3 {
        float: left;
        width: 60%;
    }
    .nav .ml-auto.big {
        display: none;
    }
    .small {
        display: block;
    }
    .small .ul {
        display: none;
        clear: both;
    }
    .nav ul li {
        list-style: none;
        display: block;
        padding: 15px;
    }
    .nav ul li a {
        font-size: 90%;
        color: #8294a5;
    }
    .nav .ml-auto {
        padding-bottom: 5px;
    }
    .nav i.header-icon {
        background: #007AFF;
        color: #fff;
        padding: 5px 10px;
        margin-top: 0;
        font-size: 145%;
        float: right;
        display: block;
        margin-top: 10%;
        border-radius: 3px;
    }
}
@media (min-width: 720px) {
    .ml-auto.ic {
        display: none;
    }
    .nav .ml-auto {
        padding-top: 5px;
    }
    .nav {
        max-height: 7vh;
    }
    .small {
        display: none;
    }
    #templates .nav ul {
        margin-top: 15px;
        vertical-align: middle;
    }
    #templates .nav ul li {
        list-style: none;
        display: inline-block;
        padding: 0px 15px;
    }
    #templates .nav ul li a {
        color: #32373B;
        font-size: 90%;
        font-weight: 500;
    }
}